mixin field-input(id, _label="", required=false, size="small")
  - var input_id = "input_" + id
  - var size_class = "is-" + size
  .field
    label= _label
    if required
      span.required *
    .control
      input.input(id=input_id, class=size_class)