mixin accordion(id)
  .accordion(id=id)
    block

mixin accordion-item(id, _label="")
  - var accordion_item_id = "accordion_" + id
  - var accordion_item_ref = "#accordion_" + id
  .accordion-item
    a.accordion-toggle(href=accordion_item_ref)
      i.fa.fa-minus-circle.fa-2x.icon-button
    .accordion-content
      block