mixin tab-group(id, ...items)
  div(id=id)
    ul
      each item in items
        li
          a(href=item.id)= item.label
    block

mixin tab-item(id)
  div(id=id)
    block

//- +tab-group("tabs", {id:"tabs-1", label:"Tab 1"}, {id:"tabs-2", label:"Tab 3"}, {id:"tabs-3", label:"Tab 3"})
//-   +tab-item("tabs-1")
//-     ...
//-   +tab-item("tabs-2")
//-     ...
//-   +tab-item("tabs-3")