extends ../../layouts/html5

block title
   title 01.Causión Bursátil

block styles
   link(rel="stylesheet" type="text/css" href="/dist/css/01-caucion-bursatil.css")

block content
   .container#causion-bursatil
      +accordion("criterios_busqueda_accordion")
         +accordion-item("criterios_busqueda_accordion_item")
            #search-criterias-column
               +field-date("date", "Fecha")
               +field-plus-minus("contrato", "Contrato")
               +field-plus-minus("digito", "Digito")
               +field-options("banco", {key: "CB", value:"Casa de Bolsa"}, {key:"B", value:"Banco"})
               +field-select("operacion", "Operación", {key: "CB", value:"Casa de Bolsa"}, {key:"B", value:"Banco"})
            #search-actions-column
               +button-search("Sirve para buscar Contratos.")
               +button-clean
               +button-pdf
               +button-xls

      section#search-results-section
         +grid("contratos")

block scripts
   script(src="/dist/scripts/accimarket/01-caucion-bursatil_ts.js")