extends ../../layouts/html5

block title
   title 02. Movimientos por Contrato

block styles
   link(rel="stylesheet", href="/dist/css/02-movimientos-por-contrato.css")

block content
  .container#movimientos-por-contrato
    +tab-group("movimientos_por_contrato_tab_group",
                {id: "tab_movimientos_por_contrato", label: "Movimientos por Contrato"},
                {id: "tab_reporte_agbc", label: "Reporte AGBC"},
                {id: "tab_cartas_masivas", label: "Cartas Masivas"})
      +tab-item("tab_movimientos_por_contrato")
        +accordion("criterios_busqueda_accordion")
          +accordion-item("criterios_busqueda_accordion_item")
            #search-criterias-column
              +field-group("busqueda_contrato")
                +field-input("contrato", "Contrato", true)
                +field-date("fecha_inicial", "Fecha Inicial")
                +field-date("fecha_final", "Fecha Final")
                +field-input("operaciones_mayores_a", "Operaciones mayores a")
                +field-input("plazo", "Plazo")
              +tab-group("datos_contrato_movimientos_tab_group",
                          {id: "datos_contrato", label: "Datos del contrato"},
                          {id: "filtro_movimientos", label: "Filtro de movimientos"})
                +tab-item("datos_contrato")
                  +field-input("cliente", "Cliente")
                  +field-input("digito", "Digito")
                  +field-input("digito_verif", "Digito Verif")
                  +field-input("perfil", "Perfil")
                  +field-input("libro", "Libro")
                  +field-input("status", "Status")
                  +field-input("area", "Area")
                  +field-input("division", "División")
                  +field-input("direccion", "Dirección")
                  +field-input("region", "Región")
                  +field-input("sucursal", "Sucursal")
                  +field-input("zona", "Zona")
                  +field-input("gerencia", "Gerencia")
                +tab-item("filtro_movimientos")
            #search-actions-column
              +button-search("Sirve para buscar Contratos.")
              +button-clean
              +button-pdf
              +button-xls
      +tab-item("tab_reporte_agbc")
      +tab-item("tab_cartas_masivas")
    section#search-results-section
      +grid("movimientos_contrato")

block scripts
   script(src="/dist/scripts/accimarket/02-movimientos-por-contrato_ts.js")